# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amhernandez <alejhern@student.42.fr>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/01/15 12:27:15 by amhernandez       #+#    #+#              #
#    Updated: 2025/01/15 12:31:29 by amhernandez      ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.txt
*.o
*.d
libft
pipex
